/* universal selector(The asterisk * ), to create a reset  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  height: 600px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: center;
  background-color: rgb(199, 213, 213);
}

.item:nth-of-type(1) {
  align-self: flex-start;
}
.item:nth-of-type(2) {
  align-self: center;
}
.item:nth-of-type(3) {
  align-self: flex-end;
} 

.item {
  width: 100px;
  height: 100px;
  margin: 5px;
  color: #fff;
  background: rgb(92, 86, 86);
  border: 2px solid rgb(38, 36, 36);
}
